:root {
    /* Color palette */
    --background-white: #F8F4EF;
    --darker-green: #2C3628;
    --dark-green: #4B5745;
    --green: #7A8474;
    --dark-gray: #A2A39A;
    --gray: #CCC7C3;
    /* Seizures */
    --nav-barHeight: 1rem;
}

html {
    font-size: 0.8rem;
}

body {
    zoom: 1;
    margin: 0;
    background-color: var(--darker-green);
    font-family: 'Poppins', sans-serif;
}

body a {
    text-decoration: none;
    color: var(--background-white);
}

h1 {
    font-family: 'amsterdam', sans-serif;
    font-size: 2em;
    text-align: center;
}

nav {
    position: sticky;
    font-size: 1rem;
}

.nav-bar {
    display: none;
}

.nav-menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--dark-green);
    color: white;
    list-style: none;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
}

.nav-menu-link {
    font-size: 2em;
    padding: 0.8em 0;
    border-top: 0.1em solid var(--gray); 
}

.light-section {
    background-color: var(--background-white);
    color: var(--dark-green);
}

.dark-section {
    color: var(--background-white);
}

.show-nav-menu {
    transform: translateY(0);
}

.nav-menu-button {
    position: fixed;
    z-index: 999;
    top: 1rem;
    left: 1rem;
    border: var(--dark-green) solid 0.1em;
    width: 4rem;
    height: 4rem;
    background: var(--background-white);
    opacity: 0.5;
    cursor: pointer;
}

.open-menu,
.close-menu {
    color: var(--dark-green);
}

.nav-menu-button:active {
    opacity: 1;
}

.close-menu {
    display: none;
}

.main-image {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        180deg,
        #2C3628,
        #2C3628B4 15%,
        #2C3628B4
        ), 
        url(img/main-mobile.jpg);
    background-size: cover;
    background-position: center;
}

#inicio {
    text-align: center;
    font-size: 0.8rem;
    color: var(--background-white);
}

.title {
    padding-top: 10em;
}

#inicio h1 {
    margin: 0 auto 0 auto;
    text-transform: capitalize;
    font-size: 2.5em;
    font-weight: 200;   
}

#inicio h3 {
    text-transform: uppercase;
    margin: 3em auto;
}

.fecha {
    text-transform: uppercase;
    display: grid;
    font-size: 1.2em;
    grid-template-columns: 1fr 4.5em 1fr;
    width: 16em;
    margin: 1em auto;
    font-size: 1.2em;
    font-weight: bold;
} 

.fecha div {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.fecha div:nth-child(4), .fecha div:nth-child(6) {
    border-bottom: .2em solid var(--background-white);
    border-top: .2em solid var(--background-white);
}   

#countdown {
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
}

.button-link {
    display: inline-block;
    padding: 1em;
    margin: 0.2em;
    color: var(--background-white);
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
    transition: all 1s;
}

.button-link:hover {
    display: inline-block;
    color: var(--dark-green);
    background-color: var(--background-white);
    border: 1px solid var(--darker-green);
}

/* Music player */
.music-player {
  margin-top: 4em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.player-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
.playpause-track, .prev-track, .next-track {
  padding: 0.8em;
  opacity: 0.8;
  transition: opacity .2s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 1.0;
}
 
.slider_container {
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
 
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
 
.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}
 
.seek_slider {
  width: 60%;
}
 
.volume_slider {
  width: 30%;
}
 
.current-time, .total-duration {
  padding: 0.8em;
}
 
i.fa-volume-down, i.fa-volume-up {
  padding: 0.8em;
}
 
i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}

section {
    padding-top: calc(var(--nav-barHeight) * 3);
    padding: calc(var(--nav-barHeight) * 3) 5%;
    height: calc(75vh + var(--nav-barHeight));
}

#invitacion {
    height: 100%;
}

.quote {
    text-align: right;
    font-style: italic;
}

#invite {
    display: flex;
    justify-content: center;
    text-align: center;
}

#invite p, #invite.brides {
    margin: 0.2em 0;
}

#invite hr {
    width: 7%;
}

.brides {
    font-family: 'amsterdam', sans-serif;
    margin: 2.5em auto;
    text-transform: capitalize;
}

#nuestra-historia {
    height: unset;
    padding-left: 5%;
    padding-right: 5%;
}

#gallery-cover {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

#gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
}

.gallery-pic {
    width: 100%;
    height: 100%;
}

.full-width  { 
    grid-column: 1 / 3; 
}

#gallery-pic-2 {
    grid-row: 3 / 5;
}

#gallery-pic-16 {
    grid-row: 12 / 14;
}

#guia-del-evento {
    background-color: var(--background-white);
    height: 100%;
}

#timeline {
    --midLinesWeight: 0.3em;
    display: grid;
    grid-template-columns: 1fr var(--midLinesWeight) 1fr;
    gap: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}

.middle-line {
    background-color: var(--dark-green);
    --circle-diameter: 1em;
    --circle-radius: calc(var(--circle-diameter) / 2);
}

.circle-left::before {
    content: '';
    display: block;
    height: var(--circle-diameter);
    width: var(--circle-diameter);
    background-color: var(--dark-green);
    border-radius: 50%;
    margin-top: calc(var(--circle-radius) * -1 + calc(var(--midLinesWeight) / 2));
    margin-left: calc(var(--circle-radius) * -1);
}

.circle-right::after {
    content: '';
    display: block;
    height: var(--circle-diameter);
    width: var(--circle-diameter);
    background-color: var(--dark-green);
    border-radius: 50%;
    margin-top: calc(var(--circle-radius) * -1 + calc(var(--midLinesWeight) / 2));
    margin-left: calc(100% - var(--circle-radius));
}

.event {
    display: grid;
    grid-template-rows: 1fr 0.3em 1fr;
    grid-template-columns: 1fr 1fr;
}

.event-description {
    grid-row: 1 / 4;
    margin: auto;
    text-align: center;
}

.event-description h2 {
    font-size: 1.4em;
}

.event-description p {
    font-size: 1.2em;
}

.event-description h2, .event-description p {
    margin: 0;
}

.right-text {
    grid-column: 2 / 3;
}

.event-icon {
    display: flex;
}

.event-icon img {
    max-height: 5em;
    padding: 1em 2em;
}

.icon-left {
    justify-content: right;
}

.icon-right {
    justify-content: left;
}

#vestimenta {
    height: 100%;
}

#vestimenta img {
    margin: 1em auto;
    max-width: 20em;
    display: block;
}

#vestimenta h2 {
    text-align: center;
    color: var(--gray);
}

#regalos {
    background-color: var(--background-white);
    height: 100%;
}

.gift-container {
    width: 90%;
    display: grid;
    grid-template-columns: 45% 10% 1fr;
    align-items: center;
    justify-items: center;
    padding: 5%;
    border: 0.1em solid var(--dark-green);
    box-shadow: 0.5em 0.5em 0 var(--green);
}

.gifts-icon {
    grid-column: 1;
    grid-row: 1/3;
}

.gifts-icon img {
    max-width: 100%;
}

.gift-account-icon {
    grid-column: 2;
    vertical-align: center;
}

.gift-account-icon img {
    max-width: 100%;
    border-radius: 1em;
}

.gift-account-text {
    grid-column: 3;
    color: var(--green);
    padding: 1em;
    text-align: center;
}

#regalos h1 {
    margin: 1em 0 0.5em 0;
}

#regalos p {
    text-align: center;
    margin: 0 1em 2em 0;
}

#asistencia {
    height: 90vh;
}

#asistencia h1 {
    text-align: center;
    margin: 1em auto;
}

fieldset {
    border: 0;
    text-align: center;
    padding: 0 3em;
    margin: 0;
}

#asistencia label {
  display: block;
  margin: 1em 0;
}

#asistencia input, #asistencia select, #asistencia textarea {
    margin: 0.8em 0 0 0;
    width: 100%;
    min-height: 2em;
    color: var(--green);
    background-color: var(--background-white);
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 0.2em;
}

#asistencia input[type="submit"] {
    min-height: 3em;
    border-radius: 0.5em;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%
}


.appear-on-scroll {
    transition: all 2500ms;
}